#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.img-producto{
  width: 200px;
  margin: auto;
}
.precio{
  margin: 0px 20px 10px 0px;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #0062cc;
  font-weight: bold;
}
.tachado{
  margin: 10px 20px 0px 0px;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #e7ebee;
}
.icon-producto{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 30px;
  background: #d39e00;
  padding: 10px;
  border-radius: 100%;
  color: white;
}

