<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main" menuId="principal">
      <ion-header>
        <ion-toolbar>
          <ion-item [routerLink]="['/']">
            <ion-title >Menu</ion-title>
          </ion-item>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="['/general-data']">
            <ion-label class="normal">Datos generales</ion-label>
            <ion-icon  slot="start" name="document-text-outline"></ion-icon>
          </ion-item>
          <ion-item button="true" detail="true" [routerLink]="['/camara']">
            <ion-label class="normal">Subir Foto de la casa censada</ion-label>
            <ion-icon slot="start" name="image-outline"></ion-icon>          </ion-item>
          <ion-item button="true" detail="true" [routerLink]="['/users']">
            <ion-label class="normal">Usuario que registra los datos</ion-label>
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>          </ion-item>
        </ion-menu-toggle>
      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>