<ion-header>
  <ion-toolbar>
    <ion-title>General Data</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon  color="primary" slot="icon-only" name="menu-outline">Menu</ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="subtitulo encabezado">Ingrese datos del Usuario a Censar</h3>
  <ion-item>
    <ion-label class="normal" position="floating">Nombre: </ion-label>
    <ion-input [(ngModel)]="name"  class="normal" type="text" inputmode="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">Apellido: </ion-label>
    <ion-input [(ngModel)]="last_name" class="normal" type="text" inputmode="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">Cédula: </ion-label>
    <ion-input [(ngModel)]="cedula" class="normal" type="text" inputmode="text"></ion-input>
  </ion-item>

  
  <ion-item>
    <ion-label class="normal" position="floating">Miembros de familia: </ion-label>
    <ion-input [(ngModel)]="num_family" class="normal" type="numeric" inputmode="numeric"></ion-input>
  </ion-item>

  <h3 class="subtitulo encabezado">Foto</h3>

  <ion-item>
    <ion-label class="normal">Foto</ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <label for="file-upload">
          <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
        </label>
        <input (change)="newImageUpload($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
      </ion-button>
    </ion-buttons>
  </ion-item>

  <img class="image" [src]="newImage">

  <h3 class="subtitulo encabezado">Obtener coordenadas del domiciolio</h3>
  <ion-item>
    <ion-label class="normal">Latitud: {{latitud}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="normal"> Longitud: {{longitud}} </ion-label>
  </ion-item>

  <ion-button
    color="tertiary"
    style="margin: 30px"
    expand="full"
    (click)="getLocation()"
  >
    Obtener ubicación
  </ion-button>
  
  <ion-button 
  color="tertiary"
  style="margin: 30px;"
  expand="full"
  (click)="guardarInfo()"
  >
    Guardar
  </ion-button>
</ion-content>