<ion-header>
  <ion-toolbar>
    <ion-title >Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon  color="primary" slot="icon-only" name="menu-outline">Menu</ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="uid.length">
    <h3 class="subtitulo p-3 text-center encabezado" style="color: rgb(2, 13, 22);">Tu informacion</h3>
    <ion-item>
      <ion-label class="normal" position="floating">Nombre:</ion-label>
      <ion-input [(ngModel)]="profile.nombre" class="normal" type="text" inputmode="text"></ion-input>
      <ion-label class="normal" position="floating">Celular:</ion-label>
      <ion-input [(ngModel)]="profile.celular" class="normal" type="number" inputmode="numeric"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="normal">Foto</ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <label for="file-upload">
            <ion-icon slot="icon-only" name="images"></ion-icon>
          </label>
          <input (change)="newImageUpload($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <img class="image" [src]="profile.foto">
    </ion-item>
    <div style="text-align: end; margin: 10px;">
      <ion-button (click)="guardarUser()" class="normal" color="dark">Guardar</ion-button>
    </div>
    <div style="text-align: end; margin: 10px;">
      <ion-button (click)="logout()" class="normal" color="dark">Salir</ion-button>
    </div>
  </div>
</ion-content>
