<ion-header>
  <ion-toolbar>
    <ion-title>INEC</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon  color="primary" slot="icon-only" name="menu-outline">Menu</ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <img align-items="center" alt="Silhouette of mountains" src="https://www.ecuavisa.com/binrepository/990x495/82c0/825d495/none/11705/KFXG/inec-portada_604676_20220912124441.jpg" />
    <ion-card-header>
      <ion-card-title>Censo a nivel nacional</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

