<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo">HOME</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon  color="primary" slot="icon-only" name="menu-outline">Menu</ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon  color="primary" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.shopify.com/s/files/1/0229/0839/files/carrito-de-compras.jpg?v=1645883922" />
    <ion-card-header>
      <ion-card-title>BIENVENIDOS</ion-card-title>
      <ion-card-subtitle>Aplicacion de CRUD de Productos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      El programa tiene como proposito el manejo de productos, con la finalidad de poder crear, editar, eliminar y listar los productos.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Examen de Aplicaciones Moviles</ion-card-title>
      <ion-card-subtitle>Integrantes: </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://avatars.githubusercontent.com/u/74762981?v=4" />
          </ion-thumbnail>
          <ion-label>Kevin Pinjota</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://avatars.githubusercontent.com/u/74844624?v=4" />
          </ion-thumbnail>
          <ion-label>Miguel Muzo</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
